<p>
  This is an interactive hands-on tutorial covering the tools involved with developing a RECAST framework for ATLAS analysis preservation and re-interpretation. The tutorial is adapted from a RECAST tutorial given as part of the <a href="https://smeehan12.github.io/2019-08-19-usatlas-computing-bootcamp/">first US-ATLAS Computing bootcamp</a> organized by Samuel Meehan that ran at Lawrence Berkeley National Lab in Aug. 2019.
<!--The intent is to present the RECAST tutorial from the bootcamp - which built upon ATLAS tools developed over the previous days - as a standalone tutorial geared towards analysts who are currently working on an ATLAS analysis, and would like to understand the tools they need get started with using RECAST . -->
  <br> 
  <br>
  

The first 4-hour session on Oct. 21 will cover the basic tools involved with RECASTing an ATLAS analysis, specifically code/environment preservation with gitlab-ci and docker, and yadage syntax and run commands for preserving and automating the analysis workflow. Due to the hands-on nature of this tutorial, the Oct. 21 session will only be offered on-site at the University of Victoria. However, anyone interested in the material but unable to attend the session in-person is more than welcome to check out the software-carpentry style lesson material and send any questions to the tutorial instructor (danikam1@uvic.ca), who will do her best to post the lesson material a few days in advance :-).

<br>
<br>
The second 4-hour session on Oct. 25 is more open-ended, but is broadly intended as an opportunity for the participants and instructor to discuss any lingering questions or concepts that may still be unclear from the first session, or to bring up questions/issues specific to individual analyses. This session will be offered both on-site and remotely, and anyone who may have gone through the lesson material from the first session independently is more than welcome to join in and participate in the discussion.

<br>
<br>

Participants will be encouraged to share their own expertise and help one another throughout the tutorial.

<br>
<br>


