This is an interactive hands-on workshop covering software and computing tools for ATLAS physics analysis. Participants will work with and develop a sample ATLAS physics analysis throughout the workshop. The sample analysis is intended to provide participants with an accessible example illustrating the basic software and design components involved in developing an ATLAS analysis, as well as a hands-on playground to directly apply and practice the tools learned during the workshop.


The optional first day ('day 0') is geared towards researchers new to ATLAS analysis and computing, with the aim of introducing newcomers to some of the fundamental tools common to most ATLAS analyses.


The rest of the week will cover a selection of tools and techniques intended to help ATLAS researchers at a variety of levels make effective use these tools in their own work. See the schedule below for details of the tools to be covered.


We hope to welcome a diverse range of ATLAS researchers to the workshop, and participants will be encouraged to share their own expertise and help one another out throughout the workshop.

<b>Programming Fundamentals: </b> While we aim to keep the workshop accessible to a wide range of background and experience levels, we will have to assume some basic familiarity with bash, C++ and python on the part of the participants. To give an idea of the assumed programming background, we've put together a <a href="https://docs.google.com/document/d/1pUBTh5OE1I4IdMHvhWnQCIcRRAZ5GD8Ao4MTkOOGF_4/edit?usp=sharing"> summary of concepts/skills in each category </a> (bash, C++, python) that we consider important to get the most out of the workshop, as well as resources to help you learn/brush up on any of the topics. If you're worried about whether your background is appropriate for the workshop, or would like to discuss these programming skills further, don't hesitate to get in touch (see contact info below), and we'll do our best to help you get ready to learn with us!



