<h3>Pre-workshop Activities</h3>
<table class="table table-striped">
  <tr> <td>Install Docker on personal laptop</td> <td><a href="#DockerOS">Docker info and installation instructions</a> </td> </tr>
  <tr> <td> Familiarize yourself with bash, C++, and python fundamentals </td> <td><a href="https://docs.google.com/document/d/1pUBTh5OE1I4IdMHvhWnQCIcRRAZ5GD8Ao4MTkOOGF_4/edit?usp=sharing">List of fundamentals and educational resources</a> </td> </tr>
</table>

<h3>Monday July 27 ('Day 0') : <a href="https://www.uvic.ca/home/about/campus-info/maps/maps/ell.php">Elliott 128</a></h3>
<table class="table table-striped">
  <tr> <td>9am-11am</td> <td> Python tools for HEP </td> </tr>
  <tr> <td>11am-12pm</td> <td> ROOT: Part 1 </td> </tr>
  <tr> <td>1pm-2pm</td> <td> ROOT: Part 2 </td> </tr>
  <tr> <td>2pm-5pm</td> <td> Version control: Git and Gitlab </td> </tr>
</table>


<h3>Tuesday July 28 : <a href="https://www.uvic.ca/home/about/campus-info/maps/maps/ell.php">Elliott 128</a></h3>
<table class="table table-striped">
  <tr> <td>9:00am-12:00pm</td> <td>Analysis design intro and toy analysis </td> </tr>
  <tr> <td>1pm-5:00pm</td> <td>ATLAS cmake </td> </tr>
</table>


<h3>Wednesday July 29 : <a href="https://www.uvic.ca/home/about/campus-info/maps/maps/ell.php">Elliott 128</a></h3>
<table class="table table-striped">
  <tr> <td>9:00am-12:00pm</td> <td>Containers intro and 'dockerizing' the toy analysis</td> </tr>
  <tr> <td>1pm-5:00pm</td> <td>Gitlab-CI</td> </tr>
</table>

<h3>Thursday July 30 : <a href="https://www.uvic.ca/home/about/campus-info/maps/maps/ell.php">Elliott 128</a></h3>
<table class="table table-striped">
  <tr> <td>9:00am-12:00pm</td> <td>Computing resources and how to access them</td> </tr>
  <tr> <td>1pm-5:00pm</td> <td>Parallel programming</td> </tr>
</table>

<h3>Thursday July 31 : <a href="https://www.uvic.ca/home/about/campus-info/maps/maps/ell.php">Elliott 128</a></h3>
<table class="table table-striped">
  <tr> <td>9:00am-12:00pm</td> <td>ML tools and techniques in ATLAS</td> </tr>
  <tr> <td>1pm-5:00pm</td> <td>Statistical analysis concepts and pyhf</td> </tr>
</table>


