<h3>Pre-tutorial Activities</h3>
<table class="table table-striped">
  <tr> <td>Install Docker on personal laptop</td> <td><a href="#DockerOS">Docker info and installation instructions</a> </td> </tr>
  <tr> <td>Pull Docker images needed for tutorial</td> <td>Steps 2 and 3 in <a href="https://danikam.github.io/standalone-recast-tutorial/setup.html">Pre-tutorial setup instructions</a> </td> </tr>
  <tr> <td>Download signal DAOD file for tutorial</td> <td>Step 4 in <a href="https://danikam.github.io/standalone-recast-tutorial/setup.html">Pre-tutorial setup instructions</a> </td> </tr>
</table>

<h3>Monday Oct. 21 : <a href="https://www.uvic.ca/home/about/campus-info/maps/maps/ell.php">Elliott 128</a></h3>
<table class="table table-striped">
  <tr> <td>10:00am-2:00pm</td> <td> <a href="https://danikam.github.io/standalone-recast-tutorial/"> RECAST Tutorial</a> </td> </tr>
</table>


<h3>Friday Oct. 25 : <a href="https://www.uvic.ca/home/about/campus-info/maps/maps/ell.php">Elliott 128</a></h3>
<table class="table table-striped">
  <tr> <td>11:00am-3:00pm</td> <td><a href="https://indico.cern.ch/event/855797/">Open-ended follow-up session</a> </td> </tr>
</table>

