<h3>Pre-workshop Activities</h3>
<table class="table table-striped">
  <tr> <td>Pre-workshop Material</td> <td><a href="https://adjackp.github.io/pre-workshopMaterial/">Pre-workshop Activities</a> </td> </tr>
  <tr> <td>Software Carpentry Survey</td> <td><a href="{{ site.swc_pre_survey }}{{ site.github.project_title }}">Link to SWC Pre-Survey</a> </td> </tr>
  <tr> <td>USATLAS Survey</td> <td><a href="https://docs.google.com/forms/d/e/1FAIpQLScMU-NV0at7eczweGOOmONm4ZNXm9LPHySPBNJm3ffjbn7IJg/viewform">Link to USATLAS Pre-Survey</a> </td> </tr>
</table>

<h3>Monday : <a href="https://www.uvic.ca/home/about/campus-info/maps/maps/ell.php">Elliott 128</a></h3>
<table class="table table-striped">
  <tr> <td>10:00am-2:00pm</td> <td> RECAST Tutorial </td> </tr>
</table>


<h3>Thursday : <a href="https://www.uvic.ca/home/about/campus-info/maps/maps/ell.php">Elliott 503 (Chart Room)</a></h3>
<table class="table table-striped">
  <tr> <td>11:00am-3:00pm</td> <td><a href="https://indico.cern.ch/event/854534/">Open-ended follow-up session</a> </td> </tr>
</table>

